# Python
__pycache__/
*.py[cod]
*.pyc
*$py.class

.pytest_cache/
.coverage
htmlcov/

# Datasets
/data/
!/data/README.md

# Pytest
.pytest_cache/

# Virtual environments
.venv/
venv/
env/

# Logs
*.log

# Local environment files
.env

# OS files
.DS_Store
Thumbs.db
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Generated Artifacts
# Keep directory structure only
/artifacts/